<style type="text/css">
	#btn:hover {
    background-color: #A2B5CD;
}
</style>
<div style="margin-top: 20px; text-align: center; ">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
    				<div class="col-8 col-sm-8">
       					<div style="width: 100%; height: 560px; padding: 3px; margin: 0;  background-image: url('Taddle Quest 2.jpg'); ">
	  						<div class="row">
				   				<div class = "col-sm-12">

				   					<div style="text-align: center; position: relative; top: 100px; text-align:left;">
				   						<p style="font-size: 25px; color: #fff; top: 120px; font-family: Arial; ">Welcome to Taddle Quest, this is one of the few games that was supposed to be released among a few other games that me and a small group of friends are making. Everything was going fine until that I got stuck in this game… Yes, please send help.</p>
									</div>
							   		<div style="text-align: center; position: relative; top: 200px;">
							   			<%= link_to page1_path do %>
	  										<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">PLAY</div>
										<% end %>
				   					</div>
					   			</div>
							</div>
	  					</div>
	  				</div>
      				<div class="col-sm-3">
						<div style="width: 100%; height: 100%; padding: 3px; margin: 0;">
	  						<%= image_tag("Taddle Quest.jpg", size: "252x550") %>	
	  					</div>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
</div>