<div style="margin-top: 20px; text-align: center;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
    				<div class="col-8 col-sm-8">
       					<div style="width: 100%; height: 553px; padding: 3px; border: 3px solid white; margin: 0;  background-image: url('Taddle Quest 2.jpg'); ">
	  						<div class="row">
				   				<div class = "col-sm-12">

				   					<div style="text-align: center; position: relative; top: 10px;">
				   						<h2 style="color: #fff;"><center>SELECT MAP</center></h2>
								<div style="margin: auto; width: 85%; height: 410px; padding: 20px; border: 1px solid white; text-align:left; background: #fff;">
						  			<%= link_to page4_path do %>
						  				<%= image_tag("monastery.png", size: "100x100") %>	
									<% end %>
						  		</div>
				   					</div>

					   			</div>
							</div>
	  					</div>
	  				</div>
      				<div class="col-sm-3">
						<div style="width: 100%; height: 100%; padding: 3px;  margin: 0;">
	  						<%= image_tag("Taddle Quest.jpg", size: "252x550") %>	
	  					</div>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
</div>