<style type="text/css">
	#btn:hover {
    background-color: #A2B5CD;
}
</style>
<div style="margin-top: 20px;">
	<div class="container">
		<div class= "row">
			<div class="col-sm-12">
				<div class="row">
					<div class = "col-3 col-sm-3">
				    	<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid white; margin: 0;">
					    	<h5 style="color: #fff;">Ex Raid</h5>
					    	<h5 style="color:#fff;">Level 1</h5>`
				    		<div style="position:absolute; bottom:75px; width:85%; height:75px; text-align:center; color: #fff;">
				    			<%= link_to inventory_path do %>
	  								<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">Inventory</div>
								<% end %>
						
							
								<%= link_to status_path do %>
	  								<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">Status</div>
								<% end %>

							
								<%= link_to page4_path do %>
	  								<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">Back</div>
								<% end %>
				    		
				    		</div>
					  	</div>
					</div>
	    			<div class="col-8 col-sm-8">
	       				<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid white; margin: 0;">
	       					<div class="row">
	       						
							</div>
						</div>
	       			</div>
			 		
			</div>
			
		</div>
	</div>		
</div>		
	