
<style type="text/css">
	#btn:hover {
    background-color: #A2B5CD;
}
</style>
<div style="margin-top: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
    				<div class="col-8 col-sm-8">
       					<div style="width: 100%; height: 560px; padding: 3px; margin: 0;  background-image: url('Taddle Quest 2.jpg'); ">
	  						<div class="row">
				   				<div class = "col-sm-12">

				   					<div style="text-align: center; position: relative; top: 75px; text-align:center;">
				   							<%= image_tag("victory.png") %>
									</div>
							   		<div style="text-align: center; position: relative; top: 200px;">
							   			<%= link_to page2_path do %>
	  										<div id= "btn" style="border-radius: 25px; border: 2px solid white; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">CONTINUE</div>
										<% end %>
				   					</div>
					   			</div>
							</div>
	  					</div>
	  				</div>
      				<div class="col-sm-3">
						<div style="width: 100%; height: 100%; padding: 3px; margin: 0;">
	  						<%= image_tag("Taddle Quest.jpg", size: "252x550") %>	
	  					</div>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
</div>