<h1>Weapons#index</h1>
<p>Find me in app/views/weapons/index.html.erb</p>

<h1>WEAPONS</h1>


<table border = "1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
            
      
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
      <td><a href="/weapons/<%= weapon.id %>"> <%= weapon.name %></a> </td> 
         <td><%= weapon.value %></td>
        
       
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Create Weapon", weapons_new_path %></p>
